.panel-container {
    background-color: #7ab2b2c1;
    border-left-width: 5px;
    border-left: black;

    width: 97%;
    height: 100%;

    padding: 0.3em;

}

.notes {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;

    width: 95%;
    height: 60%;

    textarea {
        width: 100%;
        height: 100%;
    }
}