* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.background-wrapper {
    display: flex;
    flex-direction: column;

    background-color: #CDE8E5;
    border-radius: 15%;
    border-width: 2px;
    border-color: black;

    width: 150px;
    height: 300px;

    padding: 1em;
    
    text-align: center;
    align-items: center;
    justify-content: center;

    button {
        margin-top: 20%;
    }

}

#thought-name{
    font-family: inherit;
    font-weight: 500;
    margin: 2% 0px 5% 0px;
}

.text-container {
    font-family: inherit;
    font-weight: 200;
    font-size: 14px;
    
    margin: 1em 0 1em 0;

    textarea{
        overflow: hidden;
    }
}

.text-input-node {
    background-color: rgb(255, 255, 255, 0.0);
    border: none;
    width: auto;
    padding-bottom: 10%;
    text-align: center;
}

.text-input-node:focus {
    background-color: rgba(255, 255, 255, 0.716);

}

.text-input-node:hover {
    transform: scale(1.3);
}